.pokemon-full {
    width: 475px;
    height: 475px;
}

.small-title {
    font-size: x-small !important;
    color: rgba(0,0,0,0.5);
}

.info {
    width: 125px;
}

.stat-bar-vertical {
    height: 100px;
    width: 50px;
    background-color: whitesmoke;
}