mat-card {
    padding: 0;
}

td {
    button {
        opacity: 0.1;
    }

    button:hover {
        opacity: 1;
    }
}

.mat-fab {
    color: white;
    right: 2em;
    bottom: 2em;
    z-index: 1;
    position: fixed;
}
