.grid-container {
    margin: 20px;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
  
.dashboard-card-content {
    text-align: center;
// overflow: auto;
}

.pokemon-image {
    width: 215px;
    height: 215px;
}

a:hover {
    cursor: pointer;
}

.mat-drawer {
    max-width: 80%;
    padding: 15px 0 15px 15px;
}

.mat-drawer-container {
    height: calc(100vh - 64px)!important;
}
